@tailwind base;
@tailwind components;
@tailwind utilities;


.App{
  text-align: center;
  overflow: hidden;
}

.App-logo{
  height: 50vmin;
  pointer-events:none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo{
  animation: App-logo-spin infinite 5s  linear;
}
}

.App-header{
  background: linear-gradient(160deg,white, lightblue, white,lightblue,white,lightblue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-content{
  height: auto;
  transform: scale(1);
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}
.text.App-name{
  font-size: larger;
}
.text .gold{
  color: rgb(224, 192, 8);
}
.gold{
  color: rgb(224, 192, 8);
}
.text p{
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  word-spacing: -0.5px;
  letter-spacing: -0.5px;
  font-kerning: normal;
  text-transform: none;
  white-space: nowrap;
}
.divider{
  background: linear-gradient(45deg,blue, rgb(224, 192, 8), white, lightblue,rgb(224, 192, 8) );
  filter: blur(5px);
  background-size: 600%;
  animation: moving infinite 20s linear ;
}

@keyframes moving {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
/* .text a{
  text-decoration: none;
  padding: 6px 12px;
  background-color: gold;
  color: #fff;
  border-radius: 20%;
  width: 3 0%;

  margin: auto;
}

.App-content a:hover{
  background-color: rgb(248, 226, 103);
  color: rgb(248, 238, 238);
} */
.App-link{
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  text-decoration: none;

}

.App-link::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(224, 192, 8);
  left:0;
  top: 0;
  border-radius: 10px;
}

.App-link::before{
  content: "";
  background: linear-gradient(
    45deg,
    yellow, white, green, pink,
    gold, blue, greenyellow, lightblue
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(9px);
  animation: glowing 20s linear infinite ;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 2;

}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

.App-link:hover::before{
  opacity: 2;
}

.App-link:active::after{
  background: transparent;
}

.App-link:active{
  color:black;
  font-weight: bold;
}


@keyframes App-logo-spin {
  from{
    transform: rotate(-20deg);
  }
  to{
    transform: rotate(20deg);
  }
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
